@model BookStoreApplication.Models.ForgotPasswordModel

@{
    ViewData["Title"] = "ForgotPassword";
}


<h4 class="display-4 align-content-center">Forgot Password</h4>
<hr />
<div class="row">
    <div class="col-md-4 offset-4">
        @if (Model?.EmailSent == true)
       {
           <div class="alert alert-success" role="alert">
               <p>If you are registered with us <br/>
                   We have sent email in your registerd email id</p>
           </div>
       }
       else
       {
           <p>Forgot your password? No worries you can rest it easily</p>
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Reset Password" class="btn btn-primary" />
                </div>
            </form>
       }
    </div>
    <div>
        <a asp-action="Login" asp-controller="Account">Login</a>
    </div>
</div>


